<html>
    <head>
        <title> Galejjet </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <% if (user) { %>
        <button id="reset">Nollställ</button>
        <% } else { %>
        <button id="reset" disabled=true hidden>Nollställ</button>
        <% } %>
        <h1> Discot i Ekedalen </h1>
        <fieldset>
          <legend>Besöksräknare</legend>
          <p>
            <span id="inside"></span> inne (totalt 
            <span id="visits"></span> besök)
          </p>
          <% if (user) { %>
          <button id="in">Släpp In</button>
          <button id="out">Släpp Ut</button>
          <% } else { %>
          <button id="in" disabled=true hidden>Släpp In</button>
          <button id="out" disabled=true hidden>Släpp Ut</button>
          <% } %>
      </fieldset>
      <br>
      <fieldset>
        <legend>Köhantering</legend>
        <p>
          Nytt könummer: <span id="lastInQue"></span> 
        </p>
        <p>
          Kallat könummer: <span id="firstInQue"></span> 
        </p>
        <p>
          Kötid: <span id="queTime"></span> minuter 
        </p>
        <% if (user) { %>
        <button id="que">Ge könummer</button>
        <button id="call">Kalla könummer</button>
        <% } else { %>
        <button id="que" dissabled=true hidden>Ge könummer</button>
        <button id="call" dissabled=true hidden>Kalla könummer</button>
        <% } %>
      </fieldset>
      <% if (user) { %>
      <p>
        <a href=/logout> Logga ut </a>
      </p>
      <% } else { %>
      <p>
        <a href=/login> Logga in </a>
      </p>
      <% } %>
      <script src="/client.js"></script>
    </body>
</html>
